src/main/webapp/UserDetails.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="urn:www.scalaws.org:UserDetails:v1"
	xmlns:tns="urn:www.scalaws.org:UserDetails:v1"
	xmlns="http://www.w3.org/2001/XMLSchema">


	<element name="FindUsersRequest" type="string"/>
	<element name="User" type="tns:UserType"/>
	<element name="Users" >
		<complexType>
			<sequence>
				<element ref="tns:User" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>

	<element name="Done" >
		<complexType>
			<sequence/>
		</complexType>
	</element>


	<complexType name="UserType">


		<sequence>
			<element name="Roles" type="tns:RolesListType" />
		</sequence>
		<attribute name="id" type="long"/>
		<attribute name="firstName" type="string"/>
		<attribute name="lastName" type="string"/>

	</complexType>

	<complexType name="RolesListType">
		<sequence>
			<element name="Role" type="tns:RoleType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="RoleType">
		<sequence>
			<element name="Description" type="string" />
		</sequence>
		<attribute name="name" type="string"/>
	</complexType>
</schema>